.topLeft {
  animation: animatedTopLeft 20s infinite;
}

.topRight {
  animation: animatedTopRight 20s infinite;
}

.bottomLeft {
  animation: animatedBottomLeft 20s infinite;
}

.bottomRight {
  animation: animatedBottomRight 20s infinite;
}

@keyframes animatedTopLeft {
  0% {
    left: 0%;
    top: 23%;
    transform: rotate(-123.41deg);
  }
  20% {
    left: 20%;
    top: 10%;
    transform: rotate(-83.41deg);
  }
  40% {
    left: 60%;
    top: 30%;
    transform: rotate(-150.41deg);
  }
  60% {
    left: 20%;
    top: 50%;
    transform: rotate(-30.41deg);
  }
  100% {
    left: 0%;
    top: 23%;
    transform: rotate(-123.41deg);
  }
}

@keyframes animatedTopRight {
  0% {
    right: 0%;
    top: 6%;
    transform: rotate(-200.41deg);
  }
  20% {
    right: 35%;
    top: 36%;
    transform: rotate(-83.41deg);
  }
  40% {
    right: 40%;
    top: 40%;
    transform: rotate(-120.41deg);
  }
  60% {
    right: 20%;
    top: 30%;
    transform: rotate(-170.41deg);
  }
  100% {
    right: 0%;
    top: 6%;
    transform: rotate(-200.41deg);
  }
}

@keyframes animatedBottomLeft {
  0% {
    left: 0%;
    bottom: -10%;
    transform: rotate(-153.41deg);
  }
  20% {
    left: -10%;
    bottom: 70%;
    transform: rotate(-83.41deg);
  }
  40% {
    left: -5%;
    bottom: 40%;
    transform: rotate(-120.41deg);
  }
  60% {
    left: -2%;
    bottom: 20%;
    transform: rotate(-170.41deg);
  }
  100% {
    left: 0%;
    bottom: -10%;
    transform: rotate(-153.41deg);
  }
}

@keyframes animatedBottomRight {
  0% {
    right: 0%;
    bottom: 10%;
    transform: rotate(-198.25deg);
  }
  20% {
    right: 5%;
    bottom: 70%;
    transform: rotate(-83.41deg);
  }
  40% {
    right: 7%;
    bottom: 50%;
    transform: rotate(-120.41deg);
  }
  60% {
    right: 3%;
    bottom: 20%;
    transform: rotate(-170.41deg);
  }
  100% {
    right: 0%;
    bottom: 10%;
    transform: rotate(-198.25deg);
  }
}
