.header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 26px 70px;
}

.logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
