.header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 26px 70px;
}

.logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.walletBtn {
  padding: 10px 12px;
  display: flex;
  align-items: center;
  background: #ffffff;
  border-radius: 20px;
}

/* TODO: need padding component */
.walletBtn__marginRight {
  margin-right: 8px;
}
/* TODO: need padding component */
.walletBtn__marginLeft {
  margin-left: 8px;
}

@media (max-width: 762px) {
  .header {
    justify-content: space-between;
    padding: 15px 20px;
  }

  .logo {
    position: relative;
    left: unset;
    transform: unset;
  }

  .logo > svg {
    width: 90px;
    height: 18px;
  }

  .walletBtn > div {
    font-size: 12px !important;
  }
}
