.root {
  z-index: 0;
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: var(--background);
  overflow: hidden;
}

.header {
  border-bottom: 1px solid var(--border-split);
  background: rgba(255, 255, 255, 0.1);
  z-index: 2;
}

.content {
  flex: 1;
  z-index: 2;
  overflow: hidden auto;
  display: flex;
  flex-direction: column;
}

.content > div:first-child {
  padding: 60px 136px 36px 138px;
  flex: 1;
}

.footer {
  position: relative;
  border-top: 1px solid var(--border-split);
  z-index: 2;
}
